<p>Perfil de risco do fundo</p>
<p>
  <span class="risco-1"></span>
  <span class="risco-2"></span>
  <span class="risco-3"></span>
  <span class="risco-4"></span>
  <span class="risco-5"></span>
  <span class="risco-6"></span>
  <span class="risco-7"></span>
  <span class="risco-8"></span>
  <span class="risco-9"></span>
  <span class="risco-10"></span>
  <span class="risco-11"></span>
  <span class="risco-12"></span>
</p>
<p>
  <span class="label-perfil menor">menor</span>
  <input type="range" class="range-risco" name="aplicacao" min="1" max="12" value="12" step="1" (input)="filtroRiscos($event)">
  <span class="label-perfil maior">maior</span>
</p>
